
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, sans-serif;
}

header {
	background-color: #7bc6df;
	display: grid;
	text-align: center;
	grid-template-columns: 2;
	grid-template-rows: 1;
	grid-template-areas: "logo title";
}

header img {
	height: 100%;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	grid-area: logo;
}

#banner {
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: left;
	align-items: center;
	padding: 20px;
	grid-area: title;
}

.banner h1 {
	font-size: 60px;
	font-weight: bold;
  	padding: 20px;
}

.wrapper {
    width: 100%;
    padding: 30px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}

.input {
    width: 50%;
    padding: 15px 20px;
    border-color: #333;
    border-radius: 10px;
    font-weight: bold;
	cursor: text;
}

#search-btn {
	padding: 15px 20px;
	margin-right: 10px;
	margin-left: 10px;
}

#dropdown-btn, #search-btn {
	background: #7bc6df;
    width: 5%;
	min-width: 4rem;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
	font-size: 0;
}

#dropdown-btn img {
	max-width: 50%;
}

#search-btn img {
	width: 100%;
}

#dropdown-menu {
	position: absolute;
	z-index: 1;
}

#dropdown-menu a {
	display: block;
	padding: 10px;
	text-decoration: none;
	color: black;
	background-color: #f2f2f2;
}

#dropdown-menu a:hover {
	background-color: #ddd;
}

.cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 50px auto 0;
	width: 80%;
}

.card {
	background-color: #7bc6df;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	margin: 20px;
	padding: 20px;
	width: calc(33.33% - 40px);
}

.card h2 {
	font-size: 20px;
	margin-bottom: 10px;
    justify-content: center;
	text-align: center;
}

.card img {
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
	display: block;
}

.card p {
	font-size: 16px;
	line-height: 1.4;
    justify-content: center;
	text-align: center;
}

.hide {
	display: none;
}

@media (max-width: 35em) {
	.card {
		width: 90%;
	}
}

@media (max-width: 60em) {
	.card {
		width: 40%;
	}
}